:root {
  --color-yellow: hsl(47, 88%, 63%);
  --color-white: hsl(0, 0%, 100%);
  --font-color-dark: hsl(0, 0%, 7%);
  --font-color-light: hsl(0, 0%, 42%);
  --font-color-footer: hsl(228, 45%, 44%);
}

@font-face {
  font-family: "femFigtree";
  src: url("assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "femFigtree";
  src: url("assets/fonts/Figtree-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

h1, h2,
h3, h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}
