:root {
  --color-yellow: hsl(47, 88%, 63%);
  --color-white: hsl(0, 0%, 100%);
  --font-color-dark: hsl(0, 0%, 7%);
  --font-color-light: hsl(0, 0%, 42%);
  --font-color-footer: hsl(228, 45%, 44%);
}

@font-face {
  font-family: "femFigtree";
  src: url("assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "femFigtree";
  src: url("assets/fonts/Figtree-Italic-VariableFont_wght.ttf") format("truetype");
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

h1, h2,
h3, h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* my css */
body {
  font-family: "femFigtree", sans-serif;
  font-size: clamp(0.9375rem, 2vw, 1rem);
  color: var(--font-color-dark);
  font-weight: 500;
  background-color: var(--color-yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-weight: 800;
}

main {
  background-color: var(--color-white);
  max-width: 23.75rem;
  padding: 1.5rem;
  border-radius: 20px;
  outline: 1px solid var(--font-color-dark);
  box-shadow: 0.5em 0.5em var(--font-color-dark);
}

main img[role="none"] {
  border-radius: 10px;
}

main div {
  font-size: 0.8rem;
}

.tags {
  list-style-type: none;
  padding: 0;
  margin: 1.5em 0 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.tags li {
  font-weight: 800;
  padding: 0.3em 1em;
  background-color: var(--color-yellow);
  border-radius: 5px;
}

main article p {
  color: var(--font-color-light);
}

main footer {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 10px;
}

main footer p {
  margin-top: 0;
  font-weight: 800;
}

.attribution { 
  font-size: 0.6875rem; 
  text-align: center;
  margin-top: 1em;
}



.attribution a { 
  color: var(--font-color-footer); 
}